@page
@model PrivacyModel
@{
    ViewData["Title"] = "Help";
}
<h1 class="display-3">User Manual</h1>

<div class="alert alert-danger">Work in Progress (WIP)</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="display-4">1. Overview</p>

            <p>
                <strong>Whalculator</strong> is a free, online, console-based calculator. 
                It is designed to allow for fast calculations thanks to its console interface. 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="display-4">2. Basic Expressions</p>

            <p>

            </p>
        </div>
    </div>
</div>