@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div id="left-pane" class="col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4">
            <div class="card text-black-50 h-100">
                <div class="card-header bg-dark">
                    <h5 style="font-family: Consolas; color: white; text-align: center;">Functions and variables</h5>
                </div>
                <div class="card-body">
                    <ul id="variables-list" class="list-group list-group-flush"></ul>

                    <br />

                    <ul id="functions-list" class="list-group list-group-flush"></ul>
                </div>
            </div>
        </div>

        <div id="center-pane" class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8">
            <div id="console-output-container">
                <div id="console-output"></div>
            </div>

            <div class="console-input-container">
                <div id="text-input-container">
                    <div class="text-input">
                        <div class="text-input-spacer">
                            <div id="console-input" class="text-input-control" role="textbox" contenteditable="true" placeholder="Enter expression here"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true" />
        <script src="~/js/index.min.js" asp-append-version="true"></script>
    </environment>
}
