.output-text-container {
    display: block;
}

.output-text-head {
    user-select: none;
    display: inline;
}

.output-text {
    user-select: text;
    display: inline;
    font-family: Consolas;
    line-height: 16px;
}

.data-display-container {
}

.data-display {
}

#console-output-container {
    height: 75vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#console-output {
}

#console-input-container {
    display: table-cell;
    width: 100%;
    height: 0;
}

#text-input-container {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    min-height: 38px;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
}

.text-input {
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 28px;
    padding-top: 9px;
    padding-bottom: 7px;
    position: relative;
}

.text-input-spacer {
    padding-right: 12px;
}

#console-input {
    line-height: 16px;
    cursor: text;
    min-height: 18px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 0px;
    padding-top: 2px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    font-family: Consolas;
    text-align: left;
}

#console-input:empty:before {
    color: gray;
    content: attr(placeholder);
}


#left-pane {
    height: 75vh;
}

#center-pane {
    height: 100%;
}

button.text-input-control {
    opacity: 0.6;
    cursor: pointer;
    -webkit-appearance: none;
    border: 0 solid transparent;
    padding: 0;
    background: transparent;
}

.text-input-control:focus {
    outline: none;
}
