@page "/"

@using Whalculator.WebApp.Data
@using Whalculator.Core.Calculator.Equation
@inject CalculatorService CalculatorService

<h1>Calculator</h1>

@if (instance is null) {
    <p><em>Loading...</em></p>
} else {
    <div class="container">
        <div class="row">
            <div class="col-3">
                <!-- Left Pane -->
            </div>
            <div class="col-6">
                <div id="output">
                    @foreach (string s in this.output) {
                        <span class="output-text">@s</span>
                    }
                </div>

                <br />

                <EditForm Model="@InputModel" OnValidSubmit="@HandleInput">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <InputText id="input" @bind-Value="InputModel.InputText" />
                </EditForm>
            </div>
            <div class="col-3">
                <!-- Right Pane -->
            </div>
        </div>
    </div>
}
<link href="css/index.css" rel="stylesheet" />

@code {

    private LinkedList<string> output;

    private CalculatorInstance instance;

    private CalculatorInputModel InputModel { get; set; }

    protected override async Task OnInitializedAsync() {
        this.output = new LinkedList<string>();
        this.instance = await CalculatorService.GetInstanceAsync();
        InputModel = new CalculatorInputModel();
    }

    private void HandleInput() {
        string result;
        string input = InputModel.InputText;

        this.output.AddLast(input);

        input = input.Replace(" ", "");

        int idx = input.IndexOf("d/dx");
        if (idx == 0) {
            string body = input.Substring(4);
            result = this.instance.Calculator.GetSolvableFromText(body).GetDerivative("x").GetEquationString();
        } else {
            int i = input.IndexOf('=');
            if (i == -1) {
                result = this.instance.Calculator.GetResultValue(input).GetEquationString();
            } else {
                string head = input.Substring(0, i);
                string body = input.Substring(i + 1);

                int hi = head.IndexOf('(');
                if (hi == -1) {
                    this.instance.Calculator.SetVariable(head, body);
                } else {
                    this.instance.Calculator.SetFunction(head, body);
                }

                result = "Set " + head + "!";
            }
        }

        this.output.AddLast($"=> {result}");
        InputModel.InputText = "";
    }

}
