@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Whalculator</h1>

    <div id="output" class="text-left">

    </div>

    <br />

    <input id="input" class="form-control" type="text" />
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/index.js"></script>
<style>
    #output {
        overflow-y: scroll;
        width: 100%;
        display: block;
    }

    .output-message {
        display: block;
    }
</style>